# macOS
.DS_Store
._*

# CMake
cmake-build-debug/
compile_commands.json
cmake-build-*/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps


# Analytical Model build and result files
build/astra_analytical/build/
build/astra_analytical/result/

# Example results file
examples/results/
!examples/results/README.md

# JetBrains
.idea/

# big
gem5.opt

# output 
m5out/stats.txt
m5out/config.json
m5out/config.ini

# gen workload
extern/compute/SCALE-Sim/outputs/*
scripts/workload_generator/outputs/*
scripts/workload_generator/workload.txt


scripts/workload_generator/mnk_inputs/test.csv
